#container {
    height: 500px;
    width: 500px;
    border: 2px;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    font-weight: bold;
}

#buttonDiv {
    text-align: center;
    margin: 20px;
}

.row {
    display: flex;
    margin: 0px;
    padding: 0px;
}
.square {
    aspect-ratio: 1 / 1;
    flex: 1 1 20px;
    opacity: 0.0;
    background-color: black;
}